<label class="server-name">Server Name</label>
<br>
<!-- <input class="name-input" type="text" (input)="onUpdateServerName($event)"> -->
<input class="name-input" type="text" [(ngModel)] = "serverName">
<br>
<button 
class="add-btn" (click)="onCreateServer()"  [disabled]="allowNewServer">Add Server</button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
