.add-btn{
    background-color: rgb(50, 60, 248);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    font-size: large;
    margin-top: 1rem;
    font-family: 'Quicksand', sans-serif;
}
.add-btn:hover{
    background-color: rgb(98, 106, 255);
}
.add-btn:disabled{
    cursor: not-allowed;
    background-color: rgb(98, 106, 255);
}

.server-name{
    font-size: xx-large;
}

.name-input{
    width: 30%;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    padding: 0.7rem;
    border-radius: 15px;
    border-width: 1px;
}